@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body {
    min-height: 100vh;
    background: url('/storage/img/gimnasia.svg')no-repeat center center fixed;
    background-size: cover;
    
    
}
.texto {
    transform: translate(12%, 23%);
    z-index: 5;
    padding: 15px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 591px;
    height: 636px;
    background-color: #00000031;
    border-radius: 48px;
    backdrop-filter: blur(10px);
}

.texto span{
    font-family: "Montserrat-Regular";
}

.texto p{
    font-size: 25px;
    font-family: "Montserrat-Regular";
}

h2{
    font-family: "Montserrat-SemiBlod";
    font-size: 80px;
}

button{
    background-color: #519BFD;
    color: #fff;
    width: 252px;
    height: 66px;
    border-radius: 40px;
    font-family: "Montserrat-Regular";
    font-size: 18px;
    border: 0;
    border-color: #519BFD;
}

.imagenes_colum {
    transform: translate(380%, 7%);
    z-index: 5;
    position: absolute;
    width: 284px;
    height: 901px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 17px;
    margin-left: 360px;
    
}
.imagines {
    border-radius: 24px;
}